streamlit==1.36.0
streamlit-aggrid==1.0.5
streamlit-antd-components==0.3.2
streamlit-option-menu==0.3.13
supabase==2.5.3
supafunc==0.4.7
st_pages==0.5.0
pandas==2.2.2
numpy==2.0.1
postgrest==0.16.9
progress==1.6
requests==2.31.0
